.LoginFormView__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.LoginFormView__container form {
    width: 70vw;
}

.LoginFormView__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.LoginFormView__btnContainer {
    text-align: center;
}
