.UserProfileView__container {
    padding: 2rem;
}

.UserProfileView__slider span {
    display: block !important;
}

.UserProfileView__button {
    display: flex;
    justify-content: space-between;
}
