.RequestView__container a {
    text-decoration: underline;
}

.RequestView__container h1 {
    font-size: large;
    margin-bottom: 5px;
}

.RequestView__subheader * {
    color: var(--grey);
}

.RequestView__subheader {
    gap: 20px;
}
