:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* color-scheme: light dark; */
    background-color: #fff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --paper: #fffffa;
    --coal: #242424;
    --grey: #c7c7c7;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
}

#root {
    min-width: 100vw;
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
