:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* color-scheme: light dark; */
    background-color: #fff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --bg-color: #ffffff;
    --paper: #fffffa;
    --coal: #242424;
    --grey: #f0f0f0;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 300px;
}

#root {
    min-width: 100vw;
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}

.ant-btn {
    /* line-height: 1.7; */
    line-height: 1;
    padding-top: 5px;
}

/* Atomic Font */
.F-base {
    font-family: "Roboto", sans-serif;
}

.F-line-normal {
    line-height: normal;
}
.F-line-m {
    line-height: 1.3;
}

.F-light {
    font-weight: 300;
}
.F-regular {
    font-weight: 400;
}
.F-medium {
    font-weight: 500;
}
.F-bold {
    font-weight: 700;
}
.F-extra-bold {
    font-weight: 900;
}

.F-xs {
    font-size: 15px;
}
.F-s {
    font-size: 16px;
}
.F-sm {
    font-size: 18px;
}
.F-m {
    font-size: 20px;
}

.F-normal {
    font-style: normal;
}

.F-none {
    text-decoration: none;
}
.F-underline {
    text-decoration: underline;
}

.F-green,
.F-green:hover {
    color: #0b8f00;
}
.F-black,
.F-black:hover {
    color: #262626;
}
.F-gray,
.F-gray:hover {
    color: #8c8c8c;
}
.F-light-gray,
.F-light-gray:hover {
    color: #d9d9d9;
}

/* Atomic Space */
.S-pm-reset {
    padding: 0;
    margin: 0;
}

.S-pt-0 {
    padding-top: 0px;
}
.S-pb-0 {
    padding-bottom: 0px;
}

.S-pt-xs {
    padding-top: 10px;
}
.S-pb-xs {
    padding-bottom: 10px;
}
.S-pl-xs {
    padding-left: 10px;
}
.S-pr-xs {
    padding-right: 10px;
}

.S-pt-s {
    padding-top: 20px;
}
.S-pb-s {
    padding-bottom: 20px;
}

.S-pt-m {
    padding-top: 30px;
}
.S-pb-m {
    padding-bottom: 30px;
}
.S-pl-m {
    padding-left: 30px;
}
.S-pr-m {
    padding-right: 30px;
}

.S-pt-l {
    padding-top: 40px;
}
.S-pb-l {
    padding-bottom: 40px;
}

.S-mt-0 {
    margin-top: 0px;
}
.S-mb-0 {
    margin-bottom: 0px;
}

.S-mt-xs {
    margin-top: 10px;
}
.S-mb-xs {
    margin-bottom: 10px;
}

.S-mt-s {
    margin-top: 20px;
}
.S-mb-s {
    margin-bottom: 20px;
}

.S-mt-m {
    margin-top: 30px;
}
.S-mb-m {
    margin-bottom: 30px;
}
.S-ml-m {
    margin-left: 30px;
}
.S-mr-m {
    margin-right: 30px;
}

.S-mt-l {
    margin-top: 40px;
}
.S-mb-l {
    margin-bottom: 40px;
}

.S-mt-xl {
    margin-top: 60px;
}
.S-mb-xl {
    margin-bottom: 60px;
}
