.UserProfileView__slider span {
    display: block !important;
}

.UserProfileView__button {
    display: flex;
    justify-content: space-between;
}

.ant-descriptions-item-content,
.ant-descriptions-item-label {
    font-family: "Roboto", sans-serif;
    font-size: 16px !important;
}
