#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* footer {
} */

/* #dropdownMenu {
  ;
} */

/* #navbar {
  
} */

#shopping {
  visibility: hidden;
}

#rides {
  visibility: hidden;
}

#cleaning {
  visibility: hidden;
}

#packages {
  visibility: hidden;
}

#diy {
  visibility: hidden;
}
